[submodule "SafetyKatz"]
	path = SafetyKatz
	url = https://github.com/GhostPack/SafetyKatz.git
[submodule "SharpUp"]
	path = SharpUp
	url = https://github.com/GhostPack/SharpUp.git
[submodule "SharpDPAPI"]
	path = SharpDPAPI
	url = https://github.com/GhostPack/SharpDPAPI.git
[submodule "Rubeus"]
	path = Rubeus
	url = https://github.com/GhostPack/Rubeus.git
[submodule "Seatbelt"]
	path = Seatbelt
	url = https://github.com/GhostPack/Seatbelt
[submodule "SharpHound3"]
	path = SharpHound3
	url = https://github.com/BloodHoundAD/SharpHound3.git
